/config
/config/
/pm_to_blib
/blib/

# only ignore top-level Makefile; we need the one in packaging/rpm!
/Makefile
Makefile.[a-z]*

# ignore file produced by rpm build process
/packaging/rpm/qpsmtpd.spec
packaging/rpm/build/

*~
*.bak
denysoft_greylist.dbm
denysoft_greylist.dbm.lock
greylist.dbm
greylist.dbm.lock

/cover_db/

*.tar.gz
