/config
/config/
/pm_to_blib
/blib/

# only ignore top-level Makefile; we need the one in packaging/rpm!
/Makefile
Makefile.[a-z]*

# ignore file produced by rpm build process
/packaging/rpm/qpsmtpd.spec
packaging/rpm/build/

# only ignore top-level Makefile; we need the one in packaging/rpm!
/Makefile
Makefile.[a-z]*
 
*~
*.bak
 
/cover_db/

*.tar.gz
