name: CI Tests

on:
  push:
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        perl: ["5.16", "5.32"]
      fail-fast: false
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 10
          fetch-tags: true
      - uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
      - run: cpanm --installdeps -n -f .
      - run: cpanm --installdeps -n -f Mail::SPF Mail::DMARC Geo::IP ClamAV::Client Redis
      - run: prove -lv t