name: CI Tests

on:
  push:
  pull_request:

jobs:

  test:
    strategy:
      matrix:
        perl-version:
          - "5.16"
          - "5.26"
          - "5.38"
      fail-fast: false
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
          - 6379:6379

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 10
          fetch-tags: true
      - uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
      - run: cpanm --installdeps -n -f .
      - run: cpanm --installdeps -n -f Mail::SPF Mail::DMARC GeoIP2 ClamAV::Client Redis
      - run: prove -lv t
